.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: var(--gray);
    position: relative;
    align-items: center;
    justify-content: center;
}

.icon-bg {
    background-image: url(/assets/logo/icon-grey.svg);
    opacity: 0.1;
    transform: translateX(-10%);
    pointer-events: none;
}

.view {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 60%;
    gap: 40px;
    padding: 100px 0;
    z-index: 999;
}

.preview-selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
    gap: 40px;
    z-index: 999;
}
.preview-selectors img {
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    border-radius: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.description h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.data .price {
    font-size: 1.5rem;
    color: var(--red);
}

.data .rating {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.preview-img {
    height: 100%;
}
.preview-img img {
    height: 100%;
    border-radius: 20px;
}