nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: var(--white);
}
nav div {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    gap: 40px;
}
nav a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}
nav a:hover {
    color: var(--red);
}

nav.black {
    color: var(--black);
}
nav.black a {
    color: var(--black);
}
nav.black a:hover {
    color: var(--red);
}

.cart-link {
    position: relative;
}
.cart-link .cart-count {
    position: absolute;
    top: -10px;
    left: 100%;
    background-color: var(--red);
    color: var(--white);
    border-radius: 50%;
    width: 24px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 4px;
}

nav a.active {
    color: var(--blue);
}